.header {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 12px;
}

.header-col-1 {

}

.header-col-2 {
  max-width: 350px;
  text-align: left;
}

.nodes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 8px;
  margin-top: 8px;
  max-height: 800px;
  overflow-y: scroll;
  border: 3px dotted #535bf29c;
  border-radius: 8px;
  padding: 4px;
}
